<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                    <form action="send_message" method="post">
                        <input type="text" name="message" id="message" style="display: none">
                        <input type="submit" onclick="descargar()">RDescargar imagen canvas</input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    function descargar(){
        //Descargar imagen de un canvas
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var dataURL = canvas.toDataURL("image/png");
        document.getElementById("message").value = dataURL;
    }



    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "MP 01",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                },
                {
                    label: "MP 25",
                    backgroundColor: 'rgb(31,0,151)',
                    borderColor: 'rgb(31,0,151)',
                    data: [],
                    fill: false,
                },
                {
                    label: "MP 10",
                    backgroundColor: 'rgb(0,246,111)',
                    borderColor: 'rgb(0,246,111)',
                    data: [],
                    fill: false,
                },
                {
                    label: "Tiempo",
                    backgroundColor: 'rgba(255,136,0,0.47)',
                    borderColor: 'rgb(255,136,0,0.47)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Datos en tiempo real'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");
        console.log(source);
        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 5) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();
                config.data.datasets[2].data.shift();
                config.data.datasets[3].data.shift();

            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.mp1);
            config.data.datasets[1].data.push(data.mp2);
            config.data.datasets[2].data.push(data.mp3);
            config.data.datasets[3].data.push(data.te);
            lineChart.update();
        }
    });
</script>
</body>
</html>